.cap-collections-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.90rem;
    padding-bottom: 5rem;
}
.cap-collections-item{
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;
    padding-bottom: 1rem;
    outline: none;
    transition: all 0.3 ease;

}
.cap-collections-item:hover{
    outline: 1px solid black;
    transition: outline 0.3s ease;
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.cap-collections-item h2{
    font-family: "poppins";
    font-weight: 600;
    font-size: 1rem;
    padding: 0.8rem 0.2rem 0rem;
}
.cap-collections-item p{
    font-family: "Roboto Condensed", sans-serif;
    padding: 0rem 0.2rem;

}




/* responsive design */
@media (max-width: 768px) {
    .cap-collections-container{
        grid-template-columns: 1fr 1fr;
    }
   
  }
  @media (max-width: 850px) {
    .cap-collections-container{
        grid-template-columns: 1fr 1fr;
    }

    
  }
  
  @media (max-width: 600px) {
    .cap-collections-container{
        grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 450px) {
    .cap-collections-container{
        grid-template-columns: 1fr 1fr;
    }
    
  }