.section-head {
  font-family: poppins;
  font-size: 2.25rem;
  font-weight: bold;
}
.section-head span {
  color: rgb(148, 148, 148);
}
.footer{
  padding: 3rem 0rem;
  background-color: rgb(19, 19, 19);
  color: rgb(102, 102, 102);
  font-size: 1rem;
  font-family: poppins;
}
.footer-text{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 0rem;
  cursor: pointer;
}
.copyright{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: rgb(19, 19, 19);
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(102, 102, 102);
  padding: 0rem 0rem 3rem;
}
.copyright div{
  display: flex;
  gap: 0.8rem;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fdffff;
}

::-webkit-scrollbar-thumb {
  background: #1e1f1f;
  /* border-radius: 50px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #292b2b;
}



/* Media queries */
@media (max-width: 640px) {
  .display{
    display: none;/* Change to single column for small screens */
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .display{
    display: none;
  }
}