/* Hero section */
.hero-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(100%) saturate(120%);
  margin: 1rem;
}

.round {
  background-color: white;
  border-radius: 30px 30px 0px 0px;
}

/* NavBar  */
.nav {
  color: rgb(39, 36, 36);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.276);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 25px;
}
.logo-text {
  line-height: 85%;
}
.flip {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* New Arrivals Section */
.item-container {
  display: flex;
  gap: 0.1rem;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding: 1.9rem 0.1rem;
}
.item {
  cursor: pointer;
  margin: 0rem 0.3rem;
  outline: none;
}
.item:hover {
  outline: 1px solid black;
  transition: outline 0.3s ease;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.text-grid {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.sliderBtns {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  border-radius: 100px;
  margin-right: 4rem;
  width: 1rem;
}
.btn {
  background-color: rgba(0, 0, 0, 0.881);
  color: white;
  border-radius: 50px;
  padding: 0.4rem;
}

/* Collections sections */
.explore-grid {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 1.5rem 0.3rem;
  margin: 1.9rem 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}
.explore-grid-head {
  font-size: 1.5rem;
  font-family: poppins;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.explore-grid-desp {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: poppins;
  color: gray;
}

.left-border {
  border-left: 2.5px solid #d4d6d9;
  padding-left: 0.5rem;
}
/* Cap Collections */
.cap-item {
  margin: 1.9rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding-bottom: 1rem;
  outline: none;
}
.cap-item:hover {
  outline: 1px solid black;
  transition: outline 0.3s ease;
  transform: scale(1.03);
  transition: transform 0.3s ease;
}
.filter {
  filter: saturate(150%);
  
}

/* about-us */
.about-us{
  margin: 2.9rem 0rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1.2fr 2fr;
  height: 100vh;
}
.img-grid{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.aboutUs-text-grid{
  background-color: #6D8450; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 3rem 3rem;
}


.aboutUs-text-box{
  border: 1px solid #435132;
  border-radius: 20px;
  padding: 1rem 2rem;
  display: flex;
  gap: 3rem;
  width: 100vh;
  justify-content: space-around;
}
.grid-icon{
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 0.1rem 0.4rem;
  
}
.learn-more-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0.3rem;
  left: 8.6rem;
  background-color: #DBDAD8;
  border-radius: 50px;
  font-size: 1rem;
  width: 225px;
  padding: 0.5rem 0.9rem;

}
/* delivery-features section */
.delivery-features{
  border: 1px solid rgb(209, 209, 209);
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.feature{
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* About US page */
.head-section{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  
}
.headSection-text{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: white;
 
}

.headSection-img{
 border: 1px solid #9AAF70;
 background-position: left;
 background-size: contain;
 background-repeat: no-repeat;
 height: 400px;
 width: 400px;
 animation: animate 5s ease-in-out infinite;
 transition: all 1s ease-in-out;
}
@keyframes animate {
  0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(5px,0,0) rotateZ(1.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      
      transform: translate3d(0,0,5px) rotateZ(1.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0px,-3px,0) rotateZ(0.01deg);
    }
}

.span{
  background: #C4D7B2;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 500px;
  padding: 0rem 0.8rem;
 
}

/* Goals Sections */
.goal-section{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.goalsSection-heading{
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2px;
  
 
  
}

/* Media queries */
@media (max-width: 640px) {
  .display{
    display: none;/* Change to single column for small screens */
  }
  
}