.section-head {
  font-family: poppins;
  font-size: 2.25rem;
  font-weight: bold;
}
.section-head span {
  color: rgb(148, 148, 148);
}






/* New Arrivals Section */











/* Cap Collections */
.cap-item {
 
}
.cap-item:hover {
 
}
.filter {
  filter: saturate(150%);
  
}

/* about-us */

/* delivery-features section */
.delivery-features{
  border: 1px solid rgb(209, 209, 209);
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.feature{
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* About US page */
.head-section{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  
}
.headSection-text{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: white;
 
}


.headSection-img{
 border: 1px solid #9AAF70;
 background-position: left;
 background-size: contain;
 background-repeat: no-repeat;
 height: 400px;
 width: 400px;
 animation: animate 5s ease-in-out infinite;
 transition: all 1s ease-in-out;
}
@keyframes animate {
  0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(5px,0,0) rotateZ(1.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      
      transform: translate3d(0,0,5px) rotateZ(1.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0px,-3px,0) rotateZ(0.01deg);
    }
}

.span{
  background: #C4D7B2;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 500px;
  padding: 0rem 0.8rem;
 
}

/* Goals Sections */
.goal-section{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.goalsSection-heading{
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2px;
}

/* Media queries */
@media (max-width: 640px) {
  .display{
    display: none;/* Change to single column for small screens */
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .display{
    display: none;
  }
}